h1 {
}
.list {
  width: 40%;
}

.list-item {
  list-style-type: none;
  margin: 10px auto 10px auto;
  display: flex;
  justify-content: space-between;
}
.list-item:hover {
  background-color: rgba(165, 236, 252, 0.794);
}

.list-item:hover button:first-of-type {
  visibility: visible;
}
.list-item.done label {
  text-decoration: line-through;
}
.task {
  margin: 0 10px 0 20px;
}

/* button Aggiungi */
.add-task {
  background-color: rgba(93, 123, 255, 0.939);
  color: white;
  border-radius: 5px;
}
.buttonRemove {
  visibility: hidden;
}
